/* Alinhamento de Texto */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Croissant+One&display=swap');

.alinhamento-direita{
    text-align: right;
}

.centralizar-container{
    text-align: center;
    width: 200px;
    border: 4px solid salmon;
}

/* Decoração de Texto */
.underline{
    text-decoration: underline;
}

.line-throug{
    text-decoration: line-through;
}

.remove-underline{
    text-decoration: none;
    color: orangered;
}

.overline{
    text-decoration: overline;
    color: chocolate;
}

/* Transformação de Texto */
.maiusculas{
    text-transform: uppercase;
}

.minusculas{
    text-transform: lowercase;
}

.primeira-letra-maiuscula{
    text-transform: capitalize;
}

/* Espaçamento entre as letras */
.spacing{
    letter-spacing: 10px;
}

/* Fontes */
.fonte-serif{
    font-family: serif;
}

.fonte-sans-serif{
    font-family: sans-serif;
}

.fonte-monospace{
    font-family: monospace;
}

.fonte-cursive{
    font-family: cursive;
}

.fonte-fantasy{
    font-family: fantasy;
}

.outra-fonte{
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo de Fonte */
.normal{
    font-style: normal;
}

.italic{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

/* Espessura da Fonte */
.lighter, .bold, .bolder{
    font-family: Helvetica;
}

.lighter{
    font-weight: 100;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 900;
}

/* Tamanho da Fonte */
.tamanho-30px{
    font-size: 30px;
}

.tamanho-80px{
    font-size: 80px;
}

.xx-small{
    font-size: xx-small;
}

.xx-large{
    font-size: xx-large;
}